{% extends "includes/base_login.html" %}

{% block content %}

    <h2>Iniciar sesión</h2>
    <div class='contentedor-login'>
        <form action='' method='POST' >
            {% csrf_token %} {% comment %} generamos un token de seguridad {% endcomment %}
            {{form.as_p}} {% comment %} Se trae el fromulario que tiene Django internamente {% endcomment %}
            <input class="send" type="submit" value="Iniciar Sessión">
        </form>
    </div>

    {% if request.user.is_authenticated %}
        <script>
            window.location.href = "{% url 'admin:index' %}";  // Redirige al área de administración
        </script>
    {% endif %}
{% endblock content %}