{% extends "includes/base_login.html" %}
{% load static %}

{% block content %}
        <div class="principal">
            <section class="section1">
                <div class="probando-img">
                    {% comment %} <img src="{% static 'img/YummyAPI.png'%}"> {% endcomment %}
                </div>
            </section>
            <section class="section2">
                    <form class="form" action="{% url 'namespaceusers:login' %}" method="POST"> <!-- Valida los campos -->
                        {% csrf_token %}
                        <h1>Bienvenido</h1>
                        <p>Estamos encantados de verte de vuelta</p>

                        <div class="group login-input">
                            <div class="field-group">
                                <i class="fa-regular fa-user icon"></i>
                                <input class="input-field" id="email" type="email" name="email" placeholder="Email" required>
                            </div>
                            <!-- aqui el bloque de error de user -->
                        </div>

                        <div class="group login-input">
                            <div class="field-group">
                                <i class="fa-solid fa-lock icon"></i>
                                <input class="input-field" id="password" type="password" name="password" placeholder="Contraseña" required>
                                <i class="fa-regular fa-eye-slash login__eye" id="login-eye"></i>
                            </div>
                            <!-- aqui el bloque de error de password -->
                        </div>

                        <div class="group div-enviar">
                            <input class="enviar" type="submit" value="Iniciar Sesión">
                        </div>
                    </form>
            </section>
        </div>
{% endblock content %}